body,
html {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Ubuntu', sans-serif;
}

/*----------------------------------HEADER-------------------------------*/
.header {
    position: fixed;
    display: block;
    flex-wrap: nowrap;
    width: 95%;
    height: 40px;
    border-bottom-right-radius: 55px;
    background-color: #383636;
}

.logo {
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5%;
    margin-right: 55%;
    width: 50px;
    height: 50px;
    transition: border-radius .3s ease-in;
}

.logo:hover {
    box-shadow: 0 0 10px #f7eec6;
    border-radius: 30px;
}

.menu {
    display: inline-block;
    padding-right: 5%;
    margin-left: auto;
}

.menu a {
    color: rgb(224, 224, 224);
    font-size: 18px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: #ee1f1f;
}

.menu a:not(:last-child) {
    margin-right: 30px;
}

.menu a.active {
    border-bottom: 2px solid #ee1f1f;
    padding-bottom: 5px;
}

/*------------------------TOGGLER------------------------------*/

.dark-light {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.dark-light input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(202, 202, 202);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: rgb(26, 26, 26);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #e0e0e0;
}

input:focus+.slider {
    box-shadow: 0 0 3px #c0c0c0;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/*---------------------------------PARALLAX-------------------------------*/
#scene {
    position: absolute;
    margin-right: 10%;
    margin-left: 10%;
    bottom: 60%;
    width: 80%;
}



.parallax-1 {
    margin-left: 18%;
}

.parallax-2 {

    margin-top: -3%;
    margin-left: 70%;
}

.parallax-4 {
    margin-top: 7%;
    margin-left: 30%;
}

.parallax-3 {
    width: 30%;
    height: auto;
    margin-left: 2%;
    margin-top: -10%;
}

.parallax-5 {
    margin-top: -17%;
    margin-left: 10%;
}

.pre-title {
    font-size: 58px;
    font-weight: 900;
    line-height: 55px;
    margin-bottom: 0;

}

.title {
    font-size: 58px;
    font-weight: 900;
    line-height: 55px;
    margin-bottom: 0;
    margin-left: 32%;
}

.selfie {
    margin-left: 7%;
}

/*-------------------------------------html, css, javascript toggler-----------------------*/

#toggler {
    display: inline-block;
    font-size: 30px;
    font-weight: 450;
    margin-top: 70%;
    margin-left: -75%;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.toggler-element {
    margin-bottom: -30px;
    margin-top: -30px;
}

#text-wrapper {
    height: 50px;
    overflow: hidden;
    display: block;

}

#rotating-text span {

    padding: 4px 12px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
    width: 200px;
    margin: 0 auto;
}

.javascript-text {
    background-color: rgb(182, 182, 182);
    color: #000;
}

.html-text {
    background-color: rgb(80, 80, 80);
    color: rgb(255, 255, 255);
}

.css-text {
    background-color: rgb(17, 17, 17);
    color: rgb(255, 255, 255);

}

#rotating-text {
    display: block;
    animation: rotate 5s linear infinite;
}

@keyframes rotate {
    0% {
        transform: translateY(-160px);
    }

    5% {
        transform: translateY(-107px);
    }

    33% {
        transform: translateY(-107px);
    }

    38% {
        transform: translateY(-54px);
    }

    66% {
        transform: translateY(-54px);
    }

    71% {
        transform: translateY(0px);
    }

    99.9% {
        transform: translateY(-0px);
    }

    100% {
        transform: translateY(-106px);
    }
}

/*-----------------------------------HOME--------------------------------*/
.home {
    box-shadow: 10px 10px 20px rgb(238, 238, 238);
    height: 100vh;
    border-top: 40px solid rgb(255, 255, 255);
    border-right: 50px solid rgb(255, 255, 255);
    border-top-right-radius: 800px;
}

/*-----------------dark/light mode--------------*/

.dark-bg {
    background-color: rgb(19, 19, 19);
    color: rgb(235, 235, 235);
}

.dark-home {
    box-shadow: 10px 10px 20px rgb(36, 36, 36);
    height: 100vh;
    border-top: 40px solid rgb(19, 19, 19);
    border-right: 50px solid rgb(19, 19, 19);
    border-top-right-radius: 800px;
}

.dev-dark {
    color: rgb(235, 235, 235);
}

/*---------------------social-------------------*/
.social {
    text-align: center;
    position: fixed;
    top: 55%;
    display: column;
    width: auto;
    font-size: 30px;
}

.social i {
    text-shadow: 1px 1px 3px rgb(194, 194, 194);
    color: rgb(255, 255, 255);
    transition: color 0.3s ease-in;
}

.social i:hover {
    text-shadow: 1px 1px 3px rgb(194, 194, 194);
    color: rgb(32, 32, 32);
}

.contact-vertical {
    margin-top: 25px;
    font-size: 16px;
    margin-left: 4px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px rgb(194, 194, 194);
}

.social ul {
    list-style-type: none;
    padding-left: 30%;
}

/*----------------------info----------------*/
.info-box {
    display: block;
    margin-top: 2%;
    height: 150px;
    width: 100%;
    text-align: center;
}

.text {
    width: 70%;
    margin-left: 15%;
}

.info-box p {
    margin-top: 0;
}

.info {
    color: rgb(0, 0, 0);

}

.arrow {
    font-size: 55px;
}

.info-point {
    display: inline-block;
    font-weight: 300;
    font-size: 18px;
}

/*-------------------------------------------------------------------*/

/*-----------------------------what i know---------------------------------*/
.cardholder {
    height: 250px;
    width: 100%;
    /*background: rgb(148, 55, 55);*/
    margin-top: 10%;
    text-align: center;
}

.card {
    display: inline-block;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
    width: 240px;
    height: 240px;
}

.subcard {
    height: 90%;
    width: auto;
}


.top-info {
    padding-top: 3%;
    padding-left: 15%;
    margin-top: 80px;
    width: 50%;
}

.info {
    font-size: 14px;
    color: #676262;
    line-height: 25px;
    margin-top: 30px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

button {
    cursor: pointer;
}

.prime-btn {
    width: 140px;
    height: 35px;
    color: white;
    border: none;
    font-weight: 600;
    box-shadow: none;
    background: #AFC2ED;
    border-radius: 999px;
    transition: background-color 0.3s ease;
}

.prime-btn:hover {
    background: #91a4d1;
}

.sec-btn {
    width: 140px;
    height: 35px;
    color: #AFC2ED;
    border: 1px solid #AFC2ED;
    font-weight: 600;
    box-shadow: none;
    background: transparent;
    border-radius: 999px;
    transition: all 0.3s ease;
}

.sec-btn:hover {
    border-color: #91a4d1;
    color: #91a4d1;
}

.top-btns {
    margin-top: 30px;
}

.top-btns .sec-btn {
    margin-left: 15px;
}